<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= render "partial/qr_code" %>
<%= link_to "PDF", "http://localhost:3000/users/#{@user.id}.pdf" %>
<%= link_to "PDF", "https://fadfdfafa.herokuapp.com/users/#{@user.id}.pdf" %>
<%= @user.id%>
